{% extends "layout.html" %}
{% block content %}
    <h1>World Libray</h1>
    <p>This is a website that allows a user to interact with a real library API, 
        search for any book in the world, and rent it if the user wants it.
    </p>
    <p>Author: Khoa Tran (tran0707) && Thao Nguyen (nguy3524)</p>
    <p><a href="https://github.umn.edu/tran0707/World_Library" target="_blank">
        <img src="../static/github.svg" class="github" title="click to go to Project Code Repo"></a>
        <<< Click GitHub Image for Project Repo Code</p>
    
{% endblock content %}
